.e81_31 { 
	overflow:auto;
	background-color:rgb(0, 0, 0);
	width: 100%;
	height:1345px;
	position:absolute;
	padding-right: 0;
}
.e81_46 { 
	width:310px;
	height:290px;
	position:absolute;
	left:128px;
	top:167px;
}
.e81_47 { 
	background-color:rgba(255, 255, 255, 1);
	width:310px;
	height:290px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:29px;
	border-top-right-radius:29px;
	border-bottom-left-radius:29px;
	border-bottom-right-radius:29px;
}
.e81_48 { 
	color:rgba(0, 0, 0, 1);
	width:153px;
	height:30px;
	position:absolute;
	left:48px;
	top:81px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e81_49 { 
	color:rgba(0, 0, 0, 1);
	width:165px;
	height:30px;
	position:absolute;
	left:48px;
	top:123px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e81_50 { 
	box-shadow:0px 100px 80px rgba(0, 0, 0, 0.07000000029802322);
	background-color:rgba(255, 255, 255, 1);
	width:154px;
	height:45px;
	position:absolute;
	left:1px;
	top:-8px;
	border-top-left-radius:29px;
	border-top-right-radius:29px;
	border-bottom-left-radius:29px;
	border-bottom-right-radius:29px;
}
.e81_51 { 
	color:rgba(0, 0, 0, 1);
	width:62px;
	height:36px;
	position:absolute;
	left:46px;
	top:5px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e81_52 { 
	width:310px;
	height:290px;
	position:absolute;
	left:564px;
	top:167px;
}
.e81_53 { 
	background-color:rgba(255, 255, 255, 1);
	width:310px;
	height:290px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:29px;
	border-top-right-radius:29px;
	border-bottom-left-radius:29px;
	border-bottom-right-radius:29px;
}
.e81_54 { 
	color:rgba(0, 0, 0, 1);
	width:165px;
	height:30px;
	position:absolute;
	left:48px;
	top:81px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e81_55 { 
	box-shadow:0px 100px 80px rgba(0, 0, 0, 0.07000000029802322);
	background-color:rgba(255, 255, 255, 1);
	width:154px;
	height:45px;
	position:absolute;
	left:0px;
	top:-8px;
	border-top-left-radius:29px;
	border-top-right-radius:29px;
	border-bottom-left-radius:29px;
	border-bottom-right-radius:29px;
}
.e81_56 { 
	color:rgba(0, 0, 0, 1);
	width:53px;
	height:36px;
	position:absolute;
	left:46px;
	top:5px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e81_57 { 
	width:310px;
	height:290px;
	position:absolute;
	left:1000px;
	top:167px;
}
.e81_58 { 
	background-color:rgba(255, 255, 255, 1);
	width:310px;
	height:290px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:29px;
	border-top-right-radius:29px;
	border-bottom-left-radius:29px;
	border-bottom-right-radius:29px;
}
.e81_59 { 
	color:rgba(0, 0, 0, 1);
	position:absolute;
	left:42px;
	top:98px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e81_60 { 
	color:rgba(0, 0, 0, 1);
	width:235px;
	height:30px;
	position:absolute;
	left:48px;
	top:81px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e81_61 { 
	color:rgba(0, 0, 0, 1);
	width:122px;
	height:30px;
	position:absolute;
	left:48px;
	top:112px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e81_62 { 
	color:rgba(0, 0, 0, 1);
	width:98px;
	height:30px;
	position:absolute;
	left:48px;
	top:142px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e81_63 { 
	box-shadow:0px 100px 80px rgba(0, 0, 0, 0.07000000029802322);
	background-color:rgba(255, 255, 255, 1);
	width:154px;
	height:45px;
	position:absolute;
	left:0px;
	top:-8px;
	border-top-left-radius:29px;
	border-top-right-radius:29px;
	border-bottom-left-radius:29px;
	border-bottom-right-radius:29px;
}
.e81_64 { 
	color:rgba(0, 0, 0, 1);
	width:46px;
	height:36px;
	position:absolute;
	left:46px;
	top:5px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e81_65 { 
	width:310px;
	height:290px;
	position:absolute;
	left:564px;
	top:521px;
}
.e81_66 { 
	background-color:rgba(255, 255, 255, 1);
	width:310px;
	height:290px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:29px;
	border-top-right-radius:29px;
	border-bottom-left-radius:29px;
	border-bottom-right-radius:29px;
}
.e81_67 { 
	color:rgba(0, 0, 0, 1);
	width:145px;
	height:30px;
	position:absolute;
	left:48px;
	top:65px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e81_68 { 
	color:rgba(0, 0, 0, 1);
	width:140px;
	height:30px;
	position:absolute;
	left:48px;
	top:106px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e81_69 { 
	color:rgba(0, 0, 0, 1);
	width:139px;
	height:30px;
	position:absolute;
	left:48px;
	top:188px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e81_70 { 
	color:rgba(0, 0, 0, 1);
	width:140px;
	height:30px;
	position:absolute;
	left:48px;
	top:147px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e81_71 { 
	color:rgba(0, 0, 0, 1);
	width:141px;
	height:30px;
	position:absolute;
	left:48px;
	top:229px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e81_72 { 
	box-shadow:0px 100px 80px rgba(0, 0, 0, 0.07000000029802322);
	background-color:rgba(255, 255, 255, 1);
	width:154px;
	height:45px;
	position:absolute;
	left:0px;
	top:-8px;
	border-top-left-radius:29px;
	border-top-right-radius:29px;
	border-bottom-left-radius:29px;
	border-bottom-right-radius:29px;
}
.e81_73 { 
	color:rgba(0, 0, 0, 1);
	width:97px;
	height:36px;
	position:absolute;
	left:28px;
	top:5px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e81_74 { 
	width:310px;
	height:290px;
	position:absolute;
	left:565px;
	top:883px;
}
.e81_75 { 
	background-color:rgba(255, 255, 255, 1);
	width:310px;
	height:290px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:29px;
	border-top-right-radius:29px;
	border-bottom-left-radius:29px;
	border-bottom-right-radius:29px;
}
.e81_76 { 
	color:rgba(0, 0, 0, 1);
	width:142px;
	height:30px;
	position:absolute;
	left:48px;
	top:81px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e81_77 { 
	box-shadow:0px 100px 80px rgba(0, 0, 0, 0.07000000029802322);
	background-color:rgba(255, 255, 255, 1);
	width:154px;
	height:45px;
	position:absolute;
	left:0px;
	top:-8px;
	border-top-left-radius:29px;
	border-top-right-radius:29px;
	border-bottom-left-radius:29px;
	border-bottom-right-radius:29px;
}
.e81_78 { 
	color:rgba(0, 0, 0, 1);
	width:85px;
	height:36px;
	position:absolute;
	left:34px;
	top:5px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e81_79 { 
	width:310px;
	height:290px;
	position:absolute;
	left:128px;
	top:521px;
}
.e81_80 { 
	background-color:rgba(255, 255, 255, 1);
	width:310px;
	height:290px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:29px;
	border-top-right-radius:29px;
	border-bottom-left-radius:29px;
	border-bottom-right-radius:29px;
}
.e81_81 { 
	color:rgba(0, 0, 0, 1);
	width:170px;
	height:30px;
	position:absolute;
	left:49px;
	top:63px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e81_82 { 
	color:rgba(0, 0, 0, 1);
	width:165px;
	height:30px;
	position:absolute;
	left:49px;
	top:104px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e81_83 { 
	color:rgba(0, 0, 0, 1);
	width:164px;
	height:30px;
	position:absolute;
	left:49px;
	top:186px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e81_84 { 
	color:rgba(0, 0, 0, 1);
	width:165px;
	height:30px;
	position:absolute;
	left:49px;
	top:145px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e81_85 { 
	color:rgba(0, 0, 0, 1);
	width:165px;
	height:30px;
	position:absolute;
	left:49px;
	top:227px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e81_86 { 
	box-shadow:0px 100px 80px rgba(0, 0, 0, 0.07000000029802322);
	background-color:rgba(255, 255, 255, 1);
	width:154px;
	height:45px;
	position:absolute;
	left:0px;
	top:-7px;
	border-top-left-radius:29px;
	border-top-right-radius:29px;
	border-bottom-left-radius:29px;
	border-bottom-right-radius:29px;
}
.e81_87 { 
	color:rgba(0, 0, 0, 1);
	width:123px;
	height:36px;
	position:absolute;
	left:15px;
	top:5px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e81_88 { 
	width:310px;
	height:290px;
	position:absolute;
	left:129px;
	top:883px;
}
.e81_89 { 
	background-color:rgba(255, 255, 255, 1);
	width:310px;
	height:290px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:29px;
	border-top-right-radius:29px;
	border-bottom-left-radius:29px;
	border-bottom-right-radius:29px;
}
.e81_90 { 
	color:rgba(0, 0, 0, 1);
	width:110px;
	height:30px;
	position:absolute;
	left:48px;
	top:81px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e81_91 { 
	box-shadow:0px 100px 80px rgba(0, 0, 0, 0.07000000029802322);
	background-color:rgba(255, 255, 255, 1);
	width:154px;
	height:45px;
	position:absolute;
	left:0px;
	top:-7px;
	border-top-left-radius:29px;
	border-top-right-radius:29px;
	border-bottom-left-radius:29px;
	border-bottom-right-radius:29px;
}
.e81_92 { 
	color:rgba(0, 0, 0, 1);
	width:50px;
	height:36px;
	position:absolute;
	left:52px;
	top:5px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e81_93 { 
	width:310px;
	height:290px;
	position:absolute;
	left:1000px;
	top:521px;
}
.e81_94 { 
	background-color:rgba(255, 255, 255, 1);
	width:310px;
	height:290px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:29px;
	border-top-right-radius:29px;
	border-bottom-left-radius:29px;
	border-bottom-right-radius:29px;
}
.e81_95 { 
	color:rgba(0, 0, 0, 1);
	width:116px;
	height:30px;
	position:absolute;
	left:48px;
	top:61px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e81_96 { 
	color:rgba(0, 0, 0, 1);
	width:112px;
	height:30px;
	position:absolute;
	left:48px;
	top:102px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e81_97 { 
	color:rgba(0, 0, 0, 1);
	width:112px;
	height:30px;
	position:absolute;
	left:48px;
	top:143px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e81_98 { 
	color:rgba(0, 0, 0, 1);
	width:110px;
	height:30px;
	position:absolute;
	left:48px;
	top:184px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e81_99 { 
	color:rgba(0, 0, 0, 1);
	width:112px;
	height:30px;
	position:absolute;
	left:48px;
	top:225px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e81_100 { 
	box-shadow:0px 100px 80px rgba(0, 0, 0, 0.07000000029802322);
	background-color:rgba(255, 255, 255, 1);
	width:154px;
	height:45px;
	position:absolute;
	left:0px;
	top:-8px;
	border-top-left-radius:29px;
	border-top-right-radius:29px;
	border-bottom-left-radius:29px;
	border-bottom-right-radius:29px;
}
.e81_101 { 
	color:rgba(0, 0, 0, 1);
	width:58px;
	height:36px;
	position:absolute;
	left:48px;
	top:5px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e81_102 { 
	width:310px;
	height:290px;
	position:absolute;
	left: 1000px;
	top:883px;
}
.e81_103 { 
	background-color:rgba(255, 255, 255, 1);
	width:310px;
	height:290px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:29px;
	border-top-right-radius:29px;
	border-bottom-left-radius:29px;
	border-bottom-right-radius:29px;
}
.e81_104 { 
	color:rgba(0, 0, 0, 1);
	width:133px;
	height:30px;
	position:absolute;
	left:48px;
	top:81px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e81_105 { 
	box-shadow:0px 100px 80px rgba(0, 0, 0, 0.07000000029802322);
	background-color:rgba(255, 255, 255, 1);
	width:154px;
	height:45px;
	position:absolute;
	left:0px;
	top:-8px;
	border-top-left-radius:29px;
	border-top-right-radius:29px;
	border-bottom-left-radius:29px;
	border-bottom-right-radius:29px;
}
.e81_106 { 
	color:rgba(0, 0, 0, 1);
	width:67px;
	height:36px;
	position:absolute;
	left:43px;
	top:5px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
